
<button mat-stroked-button class="pa4" color="primary" (click)="generate()">Generate New Idea</button>
<div class="h2"></div>
<div class="ba bw1 br3 ph2">
    <p>Compose a theme that: </p>
    <mat-list *ngIf="show_idea">
        <mat-list-item class="composition-idea-li" >is in {{form_type}} form</mat-list-item>
        <mat-list-item class="composition-idea-li" >is at a {{speed}} {{time_sig}} tempo</mat-list-item>
        <mat-list-item class="composition-idea-li" >is in the key of {{key_center}} {{tonality}} </mat-list-item>
        <mat-list-item class="composition-idea-li" >starts with the notes on scale degrees {{note1}}, {{note2}} </mat-list-item>
    </mat-list>
</div>
<div class="h2"></div>
<p class="i f6">Idea from <a href="http://www.brianavid.co.uk/ComposeWhat.html">ComposeWhat</a></p>
