<mat-card class="mb4">
    <mat-card-header>
        <mat-card-title><a href="https://spooqs.github.io/PatchCookbook/">Patch Cookbook</a>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>A cookbook of recipes to use to create sounds using Ableton Live's native synth devices</p>
    </mat-card-content>
</mat-card>

<mat-card class="mb4">
    <mat-card-header>
        <mat-card-title><a href="https://www.youtube.com/@SethMonahan/videos">Seth Monahan Videos</a>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>A collection of excellent videos on Classical Era Harmony and Counterpoint.</p>
        <p><a href="https://music.yale.edu/people/seth-monahan">Dr. Monahan</a>
        is an Associate Professor of Analysis at the Yale School of Music.</p>
    </mat-card-content>
</mat-card>

<mat-card class="mb4">
    <mat-card-header>
        <mat-card-title><a href="https://www.w3.org/2021/06/musicxml40/">MusicXML W3C info</a>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Official information on the MusicXML format</p>
    </mat-card-content>
</mat-card>

<mat-card class="mb4">
    <mat-card-header>
        <mat-card-title><a href="https://www.pianobook.co.uk/">PianoBook</a>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Lots of free, good sample packs to use in any DAW. The packs are contain not just samples, but instruments for either
            Kontakt (full not the free player) or <a href="https://www.decentsamples.com/product/decent-sampler-plugin/">Decent Sampler</a>, which is free.
        </p>
    </mat-card-content>
</mat-card>



<mat-card class="mb4">
    <mat-card-header>
        <mat-card-title><a href="https://lotusmusic.com/lm_contents.html">Lotus Music Theory Page</a>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Nice site with a bunch of theory content.</p>
    </mat-card-content>
</mat-card>
