<mat-card>
    <mat-card-header>
        <mat-card-title><a href="https://spooqs.github.io/PatchCookbook/">Patch Cookbook</a>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>A cookbook of recipes to use to create sounds using Ableton Live's native synth devices</p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title><a href="https://www.youtube.com/@SethMonahan/videos">Seth Monahan Videos</a>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>A collection of excellent videos on Classical Era Harmony and Counterpoint.</p>
        <p><a href="https://music.yale.edu/people/seth-monahan">Dr. Monahan</a>
        is an Associate Professor of Analysis at the Yale School of Music.</p>
    </mat-card-content>
</mat-card>
