
<!--- CONTROLS -->

<!-- Mode Selection -->
<div class="ma2">
    <div class="flex">
    <label class="mr2">Mode:</label>
    <select class="br2" [(ngModel)]="mode" (change)="mode_change()" >
        <option>Diatonic</option>
        <option>Chromatic</option>
    </select>
    </div>
</div>    

<div class="ma2">
    <div class="flex-wrap">

        <!-- Chord Count -->
        <div class="dif">
            <label class="mr2">Chord Count:</label>
            <input class="br2 mr3" matInput type="number" max="6" min="1" [(ngModel)]="chord_count" >
        </div>
        <!-- Duplicates -->
        <div class="dif mt1-ns mt2">
            <label class="mr2">Duplicates:</label>
            <select class="br2 mr3" [(ngModel)]="duplicates" >
                <option>None</option>
                <option>Not Adjacent</option>
                <option>Any</option>
            </select>
        </div>
    </div>
</div>

<!-- Chord Tones -->
<mat-checkbox class="br2" [(ngModel)]="show_chord_tones" >Show Chord Tones</mat-checkbox>


<!-- Key Selection -->
<div class="ma2" *ngIf="!scale_disabled">
    <mat-label>Key</mat-label>
    <mat-radio-group [(ngModel)]="scale_source">
        <mat-radio-button value="Random">Random</mat-radio-button>
        <mat-radio-button value="Selected">Selected</mat-radio-button>
    </mat-radio-group>
    <div class="mt2 mh4" *ngIf="scale_source == 'Selected'">

        <!-- Sonority -->
        <select class="br2 mr2" [(ngModel)]="selected_sonority">
            <option>major</option>
            <option>minor</option>
        </select>

        <!-- Key Center -->
        <select class="br2 mr3" [(ngModel)]="selected_key">
            <option>Random</option>
            <option *ngFor="let k of (selected_sonority==='minor' ? minorkeys : majorkeys)">{{k}}</option>
        </select>
    </div>
</div> 

<!-- Generate Button -->
<button class="mv4 br2 ma2" mat-stroked-button color="primary" (click)="generate()">Generate Chords</button>

<!-- OUTPUT -->
<div class="ba bw1 br3 ph2">
    <div *ngIf="show_key">
        <p >Key = <span *ngIf="show_chords">{{key.fullDisplay()}} 
            <mat-checkbox [(ngModel)]="show_scale" [disabled]="scale_disabled">Show Scale Notes</mat-checkbox>
        </span></p>
        <div *ngIf="show_scale">
            <span class="mh2" *ngFor="let n of scale_notes">{{n.noteDisplay()}}</span>
        </div>
    </div>
    <div class="chord-container ml3">
        <ng-template ngFor let-c [ngForOf]="chords">
            <p class="chord-name">{{c.name}}</p>
            <p class="chord-tones" *ngIf="show_chord_tones">
                <span class="mh2" *ngFor="let t of c.chordTones" >{{t.noteDisplay()}}</span>
            </p>
        </ng-template>
    </div>
</div>

<!-- FOOTNOTES -->
<ul class="mv4 i f6 indent-small">
    <li><span class="b">Only</span> triads (for now).</li>
    <li>Two chords are consider duplicate if the root notes are the same, inversion and quality are not consulted.</li>
    <li>In <span class="b">Chromatic</span> mode, the chord qualities are weighted in the ratio they appear in a major scale.</li>    
</ul>
