
<div style="height: 20px"></div>
<div class="m-2">
    <label class="m-4">Mode:</label><select  [(ngModel)]="mode" (change)="mode_change()" >
        <option>Diatonic</option>
        <option>Chromatic</option>
    </select>
</div>    
<div class="m-2">
<label class="m-4">Chord Count:</label><input matInput type="number" max="6" min="1" [(ngModel)]="chord_count" >
<label class="m-4">Duplicates:</label><select  [(ngModel)]="duplicates" >
    <option>None</option>
    <option>Not Adjacent</option>
    <option>Any</option>
    </select>
</div>
<div style="height: 20px"></div>
<span style="width: 20px; display: inline-flex; height: 1em;"></span><button mat-stroked-button color="primary" (click)="generate()">Generate Chords</button>


<div style="height: 20px"></div>
<div class="border-2 border-black border-solid rounded p-2">
    <p *ngIf="show_key">Key = <span *ngIf="show_chords">{{key.fullName()}}</span></p>
    <mat-list>
        <mat-list-item *ngFor="let c of chords" >{{c.name}}</mat-list-item>
    </mat-list>
</div>
<div style="height: 20px"></div>
<ul class="italic text-xs">
    <li><span class="font-bold">Only</span> triads (for now).</li>
    <li>Two chords are consider duplicate if the root notes are the same, inversion and quality are not consulted.</li>
    <li>In <span class="font-bold">Chromatic</span> mode, the chord qualities are weighted in the ratio they appear in a major scale.</li>
    <li>In <span class="font-bold">Chromatic</span> mode, inversions are not provided (yet).</li>
    
</ul>
