
<!--- CONTROLS -->

<!-- Mode Selection -->
<div class="ma2">
    <div class="flex">
        <mat-form-field>
            <mat-label>Mode</mat-label>
            <mat-select [(ngModel)]="mode" (selectionChange)="mode_change()" >
                <mat-option value="Diatonic">Diatonic</mat-option>
                <mat-option value="Chromatic">Chromatic</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>    

<!-- General Parameters -->
<div class="ma2">
    <div class="param-container">

        <!-- Chord Count -->
            <mat-form-field>
                <mat-label>Chord Count</mat-label>
                <input name="chord_count" matNativeControl type="number" 
                    [max]="chord_count_max" min="1" required [(ngModel)]="chord_count" #count_control="ngModel">
                <mat-error *ngIf="count_control.invalid">count &lt;{{chord_count_max}} and &gt;1</mat-error>
            </mat-form-field>
        <!-- Duplicates -->
            <mat-form-field>
                <mat-label>Duplicates</mat-label>
                <mat-select [(ngModel)]="duplicates" >
                    <mat-option value="none">None</mat-option>
                    <mat-option value="not-adjacent">Not Adjacent</mat-option>
                    <mat-option value="any">Any</mat-option>
                </mat-select>
            </mat-form-field>
    </div>
</div>

<!-- Chord Selection -->
<div class="ma2" >
    <mat-label class="mr2 mhh-mat-label">Chord Types</mat-label>
    <mat-checkbox [(ngModel)]="allow_triads">Triads</mat-checkbox>
    <mat-checkbox [(ngModel)]="allow_sevenths">7ths</mat-checkbox>
    <mat-checkbox [(ngModel)]="allow_ninths">9ths</mat-checkbox>
</div> 

<!-- Key Selection  (Diatonic only) -->
<div class="ma2" *ngIf="!scale_disabled">
    <label class="mhh-mat-label">Key</label>
    <mat-radio-group [(ngModel)]="scale_source">
        <mat-radio-button value="Random">Random</mat-radio-button>
        <mat-radio-button value="Selected">Selected</mat-radio-button>
    </mat-radio-group>

    
    <div class="mt2 mh4 param-container" *ngIf="scale_source === 'Selected'">

        <!-- Sonority -->
        <mat-form-field>
            <mat-label>Tonality</mat-label>
            <mat-select [(ngModel)]="selected_sonority">
                <mat-option value="major">major</mat-option>
                <mat-option value="minor">minor</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Key Center -->
        <mat-form-field>
            <mat-label>Key Center</mat-label>
            <mat-select  [(ngModel)]="selected_key">
                <mat-option value="Random">Random</mat-option>
                <mat-option value={{k}} 
                    *ngFor="let k of (selected_sonority==='minor' ? minorkeys : majorkeys)">
                        {{k}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div> 

<!-- Generate Button -->
<div class="db mv4 br2 ma2">
    <button  mat-raised-button id="generate_chords_button" color="primary" (click)="generate()">Generate Chords</button>
</div>

<!-- OUTPUT -->
<div class="ba bw1 br3 ph2 min-h-2">
    <div class="mt2"></div>
    <!-- Key Information -->
    <mat-expansion-panel [disabled]="mode === 'Chromatic'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="chord-panel-title-container mt1">
                <label class="chord-panel-title-key mr2">{{getPanelTitle()}}</label>
                <div class="chord-panel-title-buttons">
                    <button mat-icon-button class="material-symbols-outlined"
                                matTooltip="Show/Hide the actual chord tones"  
                                (click)="chord_tone_change($event)">
                        <mat-icon>{{ show_chord_tones ? 'visibility_off' : 'visibility' }} </mat-icon>
                    </button>
                    <button class="ml4 ba br2" mat-icon-button class="material-symbols-outlined" 
                            matTooltip="Download midi file for the chords" (click)="generate_midi($event)" >
                        <mat-icon>download</mat-icon>
                    </button>
                </div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <span class="mh2" *ngFor="let n of scale_notes">{{n.noteDisplay()}}</span>
    </mat-expansion-panel>

    <!-- Chord Information -->
    <div class="chord-container ml3 pb3">
        <ng-template ngFor let-c [ngForOf]="chords">
            <div class="chord-name mv2">
                <button class="dif" matTooltip="Play the chord through your speakers or headphones" (click)="play_chord(c)" mat-mini-fab>>></button>
                <span class="dif">{{c.name}}</span>
            </div>
            <div class="chord-tones mv2" *ngIf="show_chord_tones">
                <span class="dib mh2" *ngFor="let t of c.chordTones" >{{t.noteDisplay()}}</span>
            </div>
        </ng-template>
    </div>
</div>

<!-- FOOTNOTES -->
<ul class="mv4 i f6 indent-small">
    <li>Two chords are consider duplicate if the root notes are the same - inversion and quality are not consulted.</li>
    <li>3rd Inversion 7ths are never generated.</li>
    <li>For 9ths, the 9th is never "inverted", any inversion is calculated as if the chord was a triad or 7th.</li>
    <li>In <span class="b">Chromatic</span> mode
        <ul class="indent-small">
            <li>Dominant 7ths are never generated</li>    
            <li>The chord qualities are weighted in the ratio they appear in a major scale.</li>  
        </ul>
    </li>  
</ul>
