<mat-toolbar color="primary">
    <a class="header-link" href="/home">Mark's Musical Miscellany</a>
</mat-toolbar>
<nav mat-tab-nav-bar mat-stretch-tabs='false' [tabPanel]="tabPanel">
    <a mat-tab-link *ngFor="let link of navLinks"
       [routerLink]="link.link"
       matTooltip="{{link.tooltip}}"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
        {{link.label}}
    </a>
</nav>
<div class="mh3 mt4">
    <mat-tab-nav-panel #tabPanel>
       <router-outlet style="height:100%;"></router-outlet>
    </mat-tab-nav-panel>
</div>

