.page-list-container {
    display: grid;
    grid-template-columns: 6rem 1fr;
    grid-gap: 1rem;
    border-width : 0.125rem;
    border-style : solid;
    border-radius : 0.5rem;
    padding : 0.5rem;
}

@media only screen and (max-width: 500px) {
    .page-list-container-s {
      grid-template-columns: 100%;
      grid-gap: 0.5rem;
    }
  }

.home-link {
    font-weight : 500;
}