<h3>Welcome!</h3>

<p>This site contains a bunch of random tools for music theory and other vaguely music related topics.</p>
<p>Use the tabs above to navigate. You can come back here by clicking on the big title at the top of the page.</p>

<div class="page-list-container page-list-container-s">
    <div><a routerLink="/composition-idea" class="home-link mhh-mat-label">IDEAS</a></div>
    <div>Get inspiration for your next tune/track/composition. Two styles
        of ideas are available "Orchestral" and "Electronic"
    </div>
    <div><a routerLink="/bass-scales" class="home-link mhh-mat-label">BASS</a></div>
    <div>Practice or learn scales on the bass guitar. Includes a random function
        for practice.
    </div>
    <div><a routerLink="/music-resources" class="home-link mhh-mat-label">RESOURCES</a></div>
    <div>Links to music related stuff on the interwebs.
    </div>
</div>
